<div class="row">
	<div class="col-md-6">
		<h1>Informații despre procesul de cazare</h1>
		<p>Pentru a putea beneficia de un loc de cazare trebuie să depuneți o cerere de cazare online. Această opțiune este valabilă în profilul dumneavoastră de profil.</p>
		<p>Pentru a avea acces la profilul dumneavoastră de student este necesar să vă autentificați folosind adresa de email dată de facultate și parola.</p>
	</div>
	<div class="col-md-6">
		<h1>Informații despre căminele facultății</h1>
		<p>Facultatea de Matematică și Informatică oferă locuri de cazare studeților în căminele Universității București.</p>
		<p>Pentru o descriere a căminelor accesați link-ul din meniul de sus, secțiunea "Prezentare cămine".</p>
	</div>
</div>
